@import "node_modules/bootstrap/less/bootstrap";

// @import "./spark/spark";
@import "./../../../vendor/laravel/spark/resources/assets/less/spark";

pre code {
  border: none;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
body figure {
  margin: 0;
}
ul.nav.spark-settings-stacked-tabs {
  margin-left: 0;
}
.phpdebugbar-widgets-toolbar input[type=text] {
  display: inline-block;
  height: 18px;
}
.file-content .filename {
  word-break: break-all;
}
.hide-child-until-hover .child {
  visibility: hidden;
}
.hide-child-until-hover:hover .child {
  visibility: visible;
}